body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

#nav{
    position: fixed;
    width: 95%;
    display: flex;
    top: 0px;
    margin: -30px 30px 0px 30px;
    background-color: transparent;
}

#icon ion-icon{
    color: white;
    margin-top: 65px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#logo img{
    width: 40%;
    margin-left: 10%;
    margin-bottom: 0px;
}

.search{
    margin-top: 65px;
    margin-left: 30%;
}
.search hr{
    width: 150%;
    margin: 0px;
}
.search a{
    font-size: 15px;
    color: white;
}

.login{
    margin-left: 22%;
    margin-top: 55px;
}
.login a{
    font-size: 15px;
    color: white;
    margin-right: 10px;
    margin-top: -20px;
}
.login ion-icon{
    position: relative;
    top: 5px;
    color: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.login span{
    color: white;
    position: relative;
    top: -1.5px;
    left: 24.5%;
}


#main{
    margin-top: 12%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.left{
    padding-left: 59px;
    margin-left: 8%;
}
.left,.right h3{
    color: white;
    font-size: 15px;
}
.left input,button{
    display: block;
    outline: none;
    background-color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid white;
}
.left label{
    color: #ffffff;
    position: relative;
    top: 25px;
    display: none;
}

form>div{
    margin-top: 40px;
    height: 50px;
}
form>div>input{
    height: 30px;
    width: 50%;
    color: white;
}
form>div>input::placeholder{
    color: #ffffff;
}
form>div>input:focus::placeholder{
    opacity: 0;
}
button{
    margin-top: 40px;
    height: 35px;
    width: 51.5%;
    text-align: center;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
form~a{
    display: block;
    margin-top: 30px;
    color: white;
}